*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Arapey', serif;
}

html, 
body {
    width: 100%;
    margin: 0;
}

body {
    background: #e2ebf0;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

header,
article {
    width: 100%;
}

article {
    max-width: 900px;
    margin: 0 auto;
}

.title--header, .subtitle--header {
    line-height: 1.2;
    color: #107896;
    text-align: center;
}
.title--header {
    text-transform: uppercase;
    font-family: 'Rye', cursive;
    font-size: 1.6em;
}
.subtitle--header {
    margin-bottom: 2em;
}

.image-container {
    position: relative;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
    box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}

.main-image--header {
    width: 100%;
    position: relative;
    z-index: -1;
}

.quotes {
    list-style: none;
    margin: 0;
    padding: 0;
}

.quotes li {
    display: block;
    margin: 2em 1.6em 0;
    padding: 2em 1.6em;
    background-color: #FDFDFD;
    color: #107896;
    font-style: italic;
    font-weight: 500; 
    font-size: 1.3em;
    border: transparent solid 1px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;

    /*==================================================
    * Box-Shadow Effect courtesy of:
    * https://css-tricks.com/almanac/properties/b/box-shadow/
    * ===============================================*/
    box-shadow: 0 8px 6px -6px black;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/*==================================================
* Box-Shadow Effect courtesy of:
* https://css-tricks.com/almanac/properties/b/box-shadow/
* ===============================================*/
.quotes li:before, .quotes li:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

/*==================================================
* Box-Shadow Effect courtesy of:
* https://css-tricks.com/almanac/properties/b/box-shadow/
* ===============================================*/
.quotes li:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

footer p {
    text-align: center;
}

footer hr {
    width: 50%;
}

footer p a {
    color: #107896;
}

footer p:nth-child(1) {
    font-size: 1.4em;
}

